*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Reem Kufi Fun", sans-serif;
}

body{
    background-color: #E0E6AE;
    height: 100vh;
}

a{
    list-style: none;
    color: inherit;
}

main{
    padding: .5em;
}


/* Header */
header, footer{
    background-color: #BDD3B6;
    height: 8em;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6em;
}

h1{
    font-size: 3em;
    font-weight: 400;
    width: fit-content;
}

.buscador{
    display: flex;
    justify-content: end;
    align-items: center;
    float: right;
    transform: translate(-50%,-50%);
}

.buscador input {
    position: absolute;
    outline: none;
    box-sizing: border-box;
    height: 40px;
    width: 0px;
    padding: 0 20px;
    color: #5F0609;
    border-radius: 50px;
    font-size: 15px;
    border: 1px solid #5F0609;
    transition: all .7s ease;
}

::placeholder{
    color: gray;
}

.boton{
    position: absolute;
    width: 50px;
    height: 50px;
    background: #5F0609;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}

.boton i{
    font-size: 20px;
    color: white;
    line-height: 15px;
    transition: all .7 ease;
}

.buscador:hover input{
    width: 150px;
}

.buscador:hover i{
	transform: rotate(-360deg)
}

.boton:hover{
	background: #5F0609;
}

/*  */

/* Pgina de resenias */

#resenia-h3{
    text-align: center;
    margin-bottom: 1em
}

.resenia-contenedor{
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: space-around;
}

.resenia-contenedor-reseñas {
    font-style: italic;
}

.resenia-contenedor-reseñas div {
    margin-bottom: 1em;
}

.resenia-contenedor img {
    max-width: 30%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.resenia-form{
    margin: 1em auto;
    width: 75%;
}

.resenia-form form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.resenia-form h2{
    text-align: center;
}

.resenia-form form input[type="text"] {
    display: block;
    width: 50%;
}

#resenia {
    height: 125px;
    resize: none;
}

#resenia-button-submit {
    display: block;
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1em;

}

/*  */

/* Recientes pagina */

.reciente-libro{
    text-align: center;
    color: white;
    padding: 1em;
    background-color: #5F0609;
    width: 60%;
    border-radius: 4px;
    margin: 1em auto;
}

.reciente-libro img {
    max-width: 70%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


/*  */


/* About Page */

.about-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 75%;
}

.about-text{
    background-color: #BDD3B6;
    max-width: 75%;
    margin: 1em auto;
    
}

/*  */

/* NavBar */
.navbar {
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #5F0609;
}

.navbar ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    padding: 1.2em;
    gap: .5em;
}

.navbar li a{
    flex: 1 0 auto;
    text-align: center;
    border-right: solid 1px white;
    border-left: solid 1px white;
    text-decoration: none;
    padding: .5em;
    color: white;
}

/*  */

/* Responsive */

@media screen and (min-width: 768px) {

    /* about */

    .about-contenedor {
        display: flex;
    }

    .about-img img {
        width: 75%;
    }

    .about-text {
        margin: auto;
        padding: 1em;
        border-radius: 4px;
    }
        

    /*  */

    /* Recientes pc */
    .recientes-contenedor {
        display: flex;
        width: 60%;
        justify-content: space-around;
    }
    .reciente-libro {
        width: 30%;
    }

    /*  */


    /* Reseñas */

    #resenia-h3{
        font-size: 2em;
    }

    .resenia-contenedor img {
        width: 20%;
    }

    .resenia-contenedor-reseñas {
        width: 60%;
    }

    .resenia-form{
        width: 50%;
    }

    /*  */
}
