@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400..700&display=swap');

body{
    font-family: "Reem Kufi Fun", sans-serif;
    min-height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    background-image:linear-gradient(rgba(5, 7, 12, .6),rgba(5, 7, 12, .6), rgba(7, 7, 12, .6)), url(../img/biblioteca4.jpg);

}
form{
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
    background-color: #5f0609;
}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2{
    color: #fff;
    font-size: 25px;
}

label{
    color:#fff;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;   
}

input, textarea, select{
    padding: 15px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #bdd386;
    border:2px solid #ad2003;
    outline: none;
}