@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color:#c2c995;
    font-family: "Reem Kufi Fun", sans-serif;
    border-radius: 20px;

  }
  
  .formulario {
    width: 400px;
    background-image:linear-gradient(rgba(5, 7, 12, .4),rgba(5, 7, 12, .4), rgba(7, 7, 12, .4)), url(../img/biblioteca3.jpg);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color: #fff;
    box-shadow: 7px 13px 37px #000;
  }
  
  .formulario h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .controles {
    width: 100%;
    background: #5f0609;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 18px;
    border: 1px solid #ad2003;
    font-family: "Reem Kufi Fun", sans-serif;
    font-size: 18px;
    color: #fff;
  }

  label{
    border-radius: 25px;
    font-weight: 400;
  }
  .formulario a {
    color: #fff;
    text-decoration: none;
  }
  
  .formulario a:hover {
    color: #ad2003;
    text-decoration: underline;
  }
