{% extends 'base.html' %} {% block title %}About{% endblock %} {% block content
%}
<div class="about-contenedor">
  <div class="about-img">
    <img src="../img/logo-prov.jpeg" alt="" />
  </div>

  <div class="about-text">
    <p>
      BOOKFLIX nace con la idea de ser un referente en el mundo de los libros.
      Nuestro objetivo es crear una comunidad web completa y atractiva. Para eso
      necesitamos su colaboración, son ustedes, los lectores, los que crean y
      aportan contenido a nuestra web. Su puntuación y crítica sobre cada libro
      resultan imprescindibles, ayudan al resto de lectores a encontrar aquél
      libro que desconocían y les apasionará. No tenemos intereses comerciales
      ni dependemos de ningún grupo editorial o librería.
    </p>
  </div>
</div>
{% endblock %}
