{% extends 'base.html' %} 
{% block title %}Review{% endblock %}

{% block content %}
<h3 id="resenia-h3">Titulo del libro</h3>

<div class="resenia-contenedor">
  <img src="../img/el-dia-de-los-trifidos.jpg" alt="" />

  <div class="resenia-contenedor-reseñas">
    <div>
      <h4>Nombre del usuario / reseña 1</h4>

      <p>
        "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumy eirmod tempor invidunt ut labore et dolore magna"
      </p>
    </div>

    <div>
      <h4>Nombre del usuario / reseña 2</h4>

      <p>
        "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumy eirmod tempor invidunt ut labore et dolore magna"
      </p>
    </div>
  </div>
</div>

<div class="resenia-form">
  <h2>Dejar una Reseña</h2>
  <form action="" method="POST">
    <label for="nombre"
      >Nombre: <input type="text" id="nombre" name="nombre" required
    /></label>
    <label for="resenia">Reseña:</label>
    <textarea id="resenia" name="resenia" required></textarea>

    <input type="submit" value="Enviar Reseña" id="resenia-button-submit" />
  </form>
</div>
{% endblock %}
