@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi Fun", sans-serif;
  text-decoration: none;
  list-style: none;
}
/* body prueba*/
body {
  background-color: #e0e6ae;
  height: 100vh;
}

header {
  background-color: #bdd3b6;
  width: 100%;
  height: 8em;
  display: flex;
  padding: 0 1em;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
  list-style: none;
}

::placeholder {
  color: gray;
}

/* Home */
.home-main {
  width: 100%;
}

.home {
  min-height: 100vh;
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title-home {
  color: rgb(95, 6, 9);
  font-size: 28px;
}

.p-home {
  color: rgb(95, 6, 9);
  font-size: 23px;
}

.btn-home {
  margin-top: 16px;
  width: 100px;
  height: 40px;
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: 550;
  border-radius: 14px;
  background-color: rgb(95, 6, 9);
  color: white;
  box-shadow: 0 0 8px rgba(95, 6, 9 0.733);
  transition: 0.8s;
}

.btn-home:hover {
  cursor: pointer;
  transform: scale(1.03);
  background-color: rgb(131, 104, 104);
  border-color: rgb(131, 104, 104);
}

.home-div-seccion {
  width: 100%;
  text-align: center;
  border-top: 4px solid;
  border-color: #5f06098c;
  padding-top: 35px;
  padding-bottom: 80px;
}

.home-recientes {
  padding-bottom: 130px;
}

.home-title-seccion {
  color: rgb(95, 6, 9);
}

.home-cont-libros {
  width: 100%;
  display: grid;
  grid-template-rows: 320px 320px 320px;
  grid-gap: 40px;
  text-align: center;
  justify-content: center;
  padding-top: 40px;
}

.home-cont-libro {
  background-color: #5f0609;
  box-shadow: 0 0 18px rgb(0, 0, 0);
  width: 220px;
  border-radius: 25px;
  transition: 1s;
  padding: 1em;
  cursor: pointer;
}

.home-cont-libro:hover {
  transform: scale(1.02);
}

.home-libro {
  width: 130px;
  height: 70%;
}

.home-title-libro {
  color: white;
}

.home-puntuacion {
  padding-top: 5px;
  color: white;
}

.home-div-recientes {
  width: 100%;
  padding-bottom: 30px;
}

/*  */

/* Formulario busqueda avanzada */
.formulario-registro {
  width: 90%;
  background-image: linear-gradient(
      rgba(5, 7, 12, 0.4),
      rgba(5, 7, 12, 0.4),
      rgba(7, 7, 12, 0.4)
    ),
    url(../img/biblioteca3.jpg);
  padding: 30px;
  margin: 1.5em auto;
  border-radius: 4px;
  color: #fff;
  box-shadow: 7px 13px 37px #000;
  text-align: center;
}

.busqueda-form {
  padding: 50px 55px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  text-align: center;
  width: 75%;
  margin: 1em auto;
  background-color: #5f0609;
}

#busqueda-main {
  background-image: linear-gradient(
      rgba(5, 7, 12, 0.6),
      rgba(5, 7, 12, 0.6),
      rgba(7, 7, 12, 0.6)
    ),
    url(../img/biblioteca4.jpg);
}

.busqueda-input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.busqueda-form h2 {
  color: #fff;
  font-size: 25px;
}

.busqueda-input-group label {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.busqueda-input-group input,
.busqueda-input-group textarea,
.busqueda-input-group select {
  padding: 15px 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: #bdd386;
  border: 2px solid #ad2003;
  outline: none;
  resize: none;
}

/*  */

/* Formulario Registro */

.formulario-registro h4 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

.formulario-registro .registro-controles {
  width: 100%;
  background: #5f0609;
  padding: 10px;
  border-radius: 4px;
  margin: 0.5em auto;
  border: 1px solid #ad2003;
  font-size: 18px;
  color: #fff;
}

.formulario-registro label {
  border-radius: 25px;
  font-weight: 400;
  margin-right: 10px;
}

.formulario-registro input[type="checkbox"] {
  display: inline-block;
  vertical-align: middle;
}

.formulario-registro a {
  color: #fff;
}

.formulario-registro .genero {
  margin: 1em;
  justify-content: center;
  display: flex;
}

.formulario-registro a:hover {
  text-decoration: underline;
}

.terminos-envio {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.terminos-envio button {
  width: 50%;
  background-color: #5f0609;
  margin: 1em auto;
  color: white;
}

.condiciones-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

#btn-registro {
  background-color: #5f0609;
  color: white;
  padding: 0.5em;
  font-size: 1.3em;
}

/*  */

/* Pagina detalle */

.detail-container {
  background-image: linear-gradient(
      rgba(5, 7, 12, 0.6),
      rgba(5, 7, 12, 0.6),
      rgba(7, 7, 12, 0.6)
    ),
    url(../img/biblioteca1.jpg);
  background-position: center center;
  background-repeat: none;
  background-size: cover;
  text-align: center;
  padding: 1em;
}

#descripcion-libro {
  color: white;
}

.detail-container h1 {
  color: #c2c995;
}

.boton i {
  font-size: 20px;
  color: white;
  line-height: 15px;
  transition: all 0.7 ease;
}

.buscador:hover i {
  transform: rotate(-360deg);
}

.boton:hover {
  background: #5f0609;
}

.detail-img-container img {
  border-radius: 20px;
  width: 70%;
  height: 85%;
  margin: auto;
}

.detail-img-container img:hover {
  scale: 1.1;
}

#detail-texto-principal {
  margin: 1em auto;
  display: flex;
  color: #fff;
  font-size: 1em;
}

.detail-atributos {
  display: flex;
  flex-direction: row;
}

.detail-atributos > * {
  padding: 0.3em;
  color: #fff;
  font-size: 9px;
  text-align: center;
  border: 1px solid #fff;
  margin-top: 20px;
}

.detail-atributos div > * {
  display: flex;
  flex-direction: column;
}

.detail-atributos > * a {
  color: #d62e2e;
}

.detail-iconos {
  width: 200px;
  height: 60px;
  font-size: 30px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  margin: 0.5em auto;
}

.detail-contenedor-comentarios {
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 1em;
  border: 1px solid #5f0609;
  text-align: justify;
}

.detail-comentarios > * {
  margin: 0.5em auto;
}

.detail-opiniones {
  width: 90%;
  height: auto;
  margin-bottom: 40px;
}

.detail-contenedor-comentarios .detail-opiniones h2 {
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
}

.detail-opiniones article h3 {
  color: #5f0609;
}

.detail-otros {
  margin-top: 10px;
  border: 1px solid #5f0609;
  display: block;
  text-align: center;
  align-content: space-around;
}

.detail-otros h2 {
  font-size: 30px;
  margin-top: 15px;
  opacity: 90%;
}

.detail-otros-libros-autor {
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
}

.detail-otros-libros-autor > * {
  margin: auto;
}

.imagen2 {
  width: 190px;
  height: 250px;
  margin-bottom: 10px;
  display: flex;
  border-radius: 15px;
}
.imagen2:hover {
  scale: 1.1;
  box-shadow: 0 0 10px #5f0609;
}

.detail-contenedor-libros {
  margin: auto;
  padding: 0.8em;
  background-image: linear-gradient(
      rgba(5, 7, 12, 0.6),
      rgba(5, 7, 12, 0.6),
      rgba(7, 7, 12, 0.6)
    ),
    url(../img/biblioteca2.jpg);
  display: block;
  text-align: center;
  background-color: #c2c995;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.detail-contenedor-libros h2 {
  font-size: 30px;
  color: #c2c995;
}

figure {
  margin: 20px;
  padding: 0 auto;
}

.imagen3 {
  display: flex;
  width: 70%;
  height: auto;
  border-radius: 15px;
  margin: auto;
}

.imagen3:hover {
  scale: 1.1;
  box-shadow: 0 0 10px #5f0609;
}

.detail-libros {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  align-content: space-around;
  margin: auto;
}
.detail-libro {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 25%;
  min-width: 300px;
}

.button1 {
  font-size: 1em;
  font-weight: bold;
  padding: 5px 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid rgb(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.5);
  color: #000;
  background-color: #bdd3b6;
}

.button1:hover {
  background-color: white;
}

.button2 {
  font-size: 1em;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 5px;
  border: 2px solid rgb(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.5);
  color: #000;
  background-color: #bdd3b6;
  margin: auto;
}
.button2:hover {
  background-color: #ad2003;
  color: #e0e6ae;
}

/*  */

/* Pgina de resenias */

#resenia-h3 {
  text-align: center;
  margin: 1em;
}

.resenia-contenedor {
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
}

.resenia-contenedor-rese単as {
  font-style: italic;
}

.resenia-contenedor-rese単as div {
  margin-bottom: 1em;
}

.resenia-contenedor img {
  width: 40%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.resenia-form {
  margin: 1em auto;
  width: 75%;
}

.resenia-form form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.resenia-form h2 {
  text-align: center;
}

.resenia-form form input[type="text"] {
  display: block;
  width: 50%;
}

#resenia {
  height: 125px;
  resize: none;
}

#resenia-button-submit {
  display: block;
  background-color: #5f0609;
  color: white;
  padding: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1em;
}

/*  */

/* Recientes pagina */

.reciente-libro {
  text-align: center;
  color: white;
  padding: 1em;
  background-color: #5f0609;
  width: 60%;
  border-radius: 4px;
  margin: 1em auto;
}


.recientes-contenedor > * {
  margin: 2em auto;
  text-align: center;
}

.reciente-libro img {
  max-width: 70%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
/*  */

/* About Page */

.about-img img {
  width: 75%;
  display: flex;
  margin: 1em auto;
}

.about-contenedor {
  margin:1em ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  */

/* Navbar  */
.navbar {
  position: sticky;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5f0609;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5);
}
.navbar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  padding: 1.2em;
}

.navbar li a {
  flex: 1 0 auto;
  text-align: center;
  border-right: solid 1px white;
  border-left: solid 1px white;
  padding: 0.5em;
  color: white;
}

/*  */

/* Buscador */
.buscador {
  display: flex;
  justify-content: end;
  align-items: center;
  float: right;
  transform: translate(-50%, -50%);
}
.buscador input {
  position: absolute;
  box-sizing: border-box;
  height: 40px;
  width: 0px;
  padding: 0 20px;
  color: #5f0609;
  border-radius: 50px;
  font-size: 15px;
  border: 1px solid #5f0609;
  transition: all 0.7s ease;
}

::placeholder {
  color: gray;
}

.boton {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #5f0609;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}

.boton i {
  font-size: 20px;
  color: white;
  line-height: 15px;
  transition: all 0.7 ease;
}

.buscador:hover input {
  width: 150px;
}

.buscador:hover i {
  transform: rotate(-360deg);
}

.boton:hover {
  background: #5f0609;
}

/*  */

/* Login */

.form-login {
  width: 75%;
  margin: 1em auto;
  padding: 2em;
  background-color: #5f0609;
  border-radius: 20px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#error-msg {
  color: white;
  display: none;
}

.form-login input {
  margin: 1em auto;
  width: 75%;
}

.form-login #btn-login {
  width: 50%;
  padding: 10px;
  background-color: #e0e6ae;
  color: black;
  border: none;
  cursor: pointer;
  margin: 1em auto;
}
.form-login #btn-login:hover {
  background-color: #d6db89;
}

/*  */

/* Profile */
.cards-lista-sm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  padding: 1em;
}

.card {
  background: #5f0609;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  font-size: 0.8em;
  color: white;
}

.card p {
  padding: 0.8em;
}

.card img {
  display: block;
  border: 0;
  width: 100%;
  height: 60%;
}

.info-personal,
.soporte {
  background-color: #5f0609;
  color: white;
  padding: 1em;
  border-radius: 10px;
  margin: 2em 1em;
}

.soporte {
  text-align: center;
}

.info-personal h3,
.soporte h3 {
  text-align: center;
  margin-bottom: 0.5em;
}

.info-personal .detalle p {
  margin: 0.5em;
}

.info-personal .detalle span {
  margin: 0.5em;
}

.profile-recientes h2 {
  text-align: center;
}
/*  */

/* Footer */
.footer-container {
  width: 100%;
  height: 150px;
  background-color: #bdd3b6;
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.footer-div {
  justify-content: center;
  align-items: center;
  display: flex;
  grid-gap: 22px;
}

.footer-icon {
  font-size: 2em;
}

/* Responsive */


/* Tablet */
@media screen and (min-width: 768px) {
  /* Home */
  .title-home {
    font-size: 38px;
  }

  .p-home {
    font-size: 33px;
  }

  .btn-home {
    width: 120px;
    height: 46px;
    font-size: 16px;
    border-radius: 15px;
  }

  .home-div-seccion {
    padding-top: 50px;
  }

  .home-cont-libros {
    grid-template-rows: none;
    grid-template-columns: 220px 220px 220px;
    grid-gap: 50px;
  }

  .home-cont-libro {
    height: 320px;
  }

  .footer-container {
    width: 100%;
    height: 110px;
    background-color: #bdd3b6;
    display: flex;
    grid-gap: 12em;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 3em;
  }

  .footer-logo {
    font-size: 26px;
  }

  .footer-copy {
    font-size: 20px;
  }

  .footer-div {
    justify-content: center;
    align-items: center;
    display: flex;
    grid-gap: 22px;
  }

  .footer-icon {
    width: 30px;
  }
  /*  */

  /* navbar */

  /* .navbar li a {
    
  } */

  .navbar li a:hover {
    background-color: #8c0b13;
  }
  /*  */

  /* Login */

  .form-login {
    width: 30%;
    margin: 5% auto;
  }

  /*  */
  /* about */

  .about-contenedor {
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;
  }

  .about-text {
    margin: auto;
    padding: 1em;
  }

  /*  */

  /* Recientes pc */
  .recientes-contenedor {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 2em;
    gap: 2em;
  }

  .recientes-contenedor > * {
    margin: auto;
    text-align: center;
  
  }

  /*  */

  /* Rese単as */
  #resenia-h3 {
    font-size: 2em;
  }
  .resenia-contenedor img {
    width: 20%;
  }
  .resenia-contenedor-rese単as {
    width: 60%;
  }
  .resenia-form {
    width: 50%;
  }
  /*  */

  /* Profile */
  .info-personal {
    width: 50%;
    margin: 1em auto;
  }

  .soporte {
    width: 45%;
    margin: 2em auto;
  }

  .profile-recientes {
    margin: auto;
    padding: 2em;
    text-align: center;
  }

  .cards-lista-sm {
    display: flex;
  }

  .card {
    width: 30%;
    font-size: 1em;
  }

  .card img {
    height: 15em;
  }


  /*  */

  /* Detalles */

  .detail-container,
  .detail-otros,
  .detail-contenedor-comentarios,
  .detail-contenedor-libros {
    margin: 1em;
  }

  .detail-container-dos {
    display: flex;
    justify-content: space-between;
  }

  #detail-texto-principal {
    width: 90%;
  }

  .detail-container-tres {
    width: 75%;
    margin: auto;
  }


  .detail-img-container {
    display: flex;
    width: 35%;
  }

  .detail-container-tres > * {
    margin: auto;
  }

  .detail-atributos {
    width: 50%;
  }

  .detail-libros img {
    width: 50%;
  }

  /*  */

  /* Formulario registro */

  .formulario-registro {
    width: 50%;
  }

  /*  */

  /* Busqueda form */

  .busqueda-form {
    width: 30%;
  }
  /*  */
}

/* PC */
@media screen and (min-width: 1024px) {
  .navbar li a {
    padding: 0.7em 5em;
  }

  #descripcion-libro{
    font-size: 1.3em;
  }

  #resenia-h3 {
    font-size: 2em;
  }

  .resenia-form {
    width: 50%;
    text-align: center;
    margin: auto;
  }

  .card {
    width: 15em;
    border: solid 1px red;
  }

  #nombre,
  .resenia-form textarea,
  #resenia-button-submit {
    border: solid 1px red;
    width: 50%;
    margin: .5em auto;
  }

}
